<%= erb :navigation %>

<div class="container">
  <div id="content">
    <div class="row">
      <div class="center-horiz">
        <h1 class="title">About.</h1>
      </div>
      <img class="mountain-image" src="images/mountain_range.png">
    </div>
  </div>
</div>

<div class="full-width center-horiz bottom">
  <%= erb :footer %>
</div>
