<%= erb :navigation %>

<div class="scene">
  <div class="container">
    <div class="center-horiz">
      <h1 class="title">About</h1>
    </div>
    <img class="mountain-image" src="images/mountain_range.png">
    <div class="particle particle-1"></div>
    <div class="particle particle-2"></div>
  </div>
</div>

<div class="full-width center-horiz bottom">
  <%= erb :footer %>
</div>
