<%= erb :navigation %>

<div class="scene">
  <div class="container">
    <div class="center-horiz">
      <h1 class="title">About</h1>
    </div>
    <img class="mountain-image" src="images/mountain_range.png" alt="mountain range graphic">
    <div class="particle particle-1"></div>
    <div class="particle particle-2"></div>
  </div>
</div>

<section id="about-content">
  <div class="photo-background"></div>
  <div class="text-background"></div>
  <div class="row">
    <div class="col l5 push-l1">
      <div class="photo-wrapper">
        <img src="images/profile-image.png" alt="profile picture">
      </div>
    </div>
    <div class="col l6 push-l1">
      <div class="about-description">
        <div class="container">
          <h5 class="dark-teal">I write code and climb rocks.</h5>
          <p class="location-text">I live in <del>New York</del></p>
          <p class="location-text"><del class="fl-indent">Florida</del></p>
          <p class="location-text"><del class="ny-indent">New York</del></p>
          <p class="co-indent location-text">Colorado.</p>
          <p>
            I have a passion for functional design and data and use this space
            to showcase current / past projects. Outside of tech,
            these designs come in the form of <%= link_to "routesetting", "https://thecliffsclimbing.com/blog/2016/6/24/meet-the-new-setters-marc-and-bo" %>.
          </p>
          <p>
            Check out my <%= link_to "work", "/work" %> or find me through
            the social links below.
          </p>
          <p class="shaded-teal cta">
            If you'd like to collaborate on your next project or just want to chat - reach out.
          </p>
          <a href="mailto:marc.akbar@gmail.com" class="btn"><i class="material-icons left">mail</i>EMAIL</a>
          <a href="images/Akbar_Marc_resume.pdf" class="btn" download><i class="material-icons left">file_download</i>RESUME</a>
        </div>
      </div>
    </div>
  </div>
</section>

<div class="full-width center-horiz bottom">
  <%= erb :footer %>
</div>
