<div id="say-hi">
  <div class="container">
    <div class="say-hi-text">
      <h4>Say hi.</h4>
      <div class="container">
        <p>I don't bite and am currently available for freelance or full-time work. Feel free to reach out.</p>
      </div>
      <a href="mailto:marc.akbar@gmail.com" class="btn-large"><i class="material-icons left">mail</i>MESSAGE ME</a>
    </div>
  </div>
</div>
