<div class="row">
  <div class="col s12 m3 3">
    <%= link_to 'Home', '/' %>
    <%= link_to 'Home', '/' %>
    <%= link_to 'Home', '/' %>
  </div>
  <div class="col s12 m9 l9">
    <p>Some text</p>
    <p>Some text</p>
    <p>Some text</p>
  </div>
</div>
