<div id="menu">
  <ul id="slide-out" class="sidenav section table-of-contents">
    <li><a href="#home" class="sidenav-close">Home</a></li>
    <li><a href="#work" class="sidenav-close">Work</a></li>
    <li><a href="#contact" class="sidenav-close">Contact</a></li>
  </ul>
</div>

<div id="content">
  <a href="#" data-target="slide-out" class="sidenav-trigger hide-on-large-only pulse"><i class="material-icons">menu</i></a>
  <div class="row">
    <div id="menu" class="col hide-on-med-and-down m3 l2">
      <ul class="section table-of-contents">
        <li><a href="#home">Home</a></li>
        <li><a href="#work">Work</a></li>
        <li><a href="#contact">Contact</a></li>
      </ul>
    </div>

    <div class="col s12 m9 l10">
      <div id="home" class="section scrollspy">
        <p class="flow-text">Content </p>
      </div>
      <div id="work" class="section scrollspy">
        <p class="flow-text">Content </p>
      </div>
      <div id="contact" class="section scrollspy">
        <p class="flow-text">Content </p>
      </div>
    </div>
  </div>
</div>
