<div class="background">
  <div class="container">
    <div class="full-width center-horiz center-vert">
      <h1 class="landing-title">Hi</h1>
      <div class="landing-content">
        <p class="flow-text">I'm Marc, a developer and climber.</p>
      </div>
      <div class="landing-links">
        <ul>
          <li><%= link_to "Work", "/work" %></li>
          <li><%= link_to "Contact", "/contact" %></li>
        </ul>
      </div>
    </div>
  </div>
</div>
