<div class="background">
  <div class="container">
    <div class="full-width center-horiz center-vert">
      <h1 class="landing-title">Hi</h1>
      <div class="landing-content">
        <p class="flow-text">I'm Marc, a developer and climber.</p>
      </div>
      <div class="landing-links">
        <ul>
          <li><%= link_to "Work", "/work" %></li>
        </ul>
      </div>
      <div class="landing-social">
        <ul>
          <li><a href="https://github.com/marc-akbar" target="_blank"><img src="images/logos/GitHub-Mark-32px.png"></a></li>
          <li><a href="https://www.linkedin.com/in/marc-akbar/" target="_blank"><img src="images/logos/LI-In-Bug.png"></a></li>
          <li><a href="https://twitter.com/snack_bar13" target="_blank"><img src="images/logos/Twitter_Logo_Blue.png"></a></li>
        </ul>
      </div>
      </div>
  </div>
</div>
