<div class="container">
  <div class="full-width center-horiz center-vert">
    <h1 class="title">Hello.</h1>
    <div class="landing-content">
      <p class="flow-text">I'm Marc, a developer and climber based in Boulder CO.</p>
    </div>
    <div class="landing-links">
      <ul>
        <li><%= link_to "ABOUT", "/about" %></li>
        <li><%= link_to "WORK", "/work" %></li>
      </ul>
    </div>
  </div>
</div>
