<!DOCTYPE HTML>
<html>
  <head>
    <title>Marc Akbar</title>
    <!--Import Google Icon Font-->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css2?family=Baloo+Tammudu+2:wght@600&family=Satisfy&display=swap" rel="stylesheet">
    <!-- Materialize CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <!-- Animejs -->
    <script type="text/javascript" src="//cdn.bootcss.com/animejs/3.1.0/anime.min.js"></script>
    <!-- Jquery -->
    <link href="<%= url('/stylesheets/application.css') %>" rel="stylesheet" />
  </head>
  <body>
    <%= yield %>
    <script src="http://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script src="/javascript/materialize.min.js"></script>
    <script src="/javascript/application.js"></script>
  </body>
</html>
