<!DOCTYPE HTML>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <meta name="description" content="I'm Marc. I write code and climb rocks."/>
    <meta name="keywords" content="marc, akbar, marc akbar, developer, web development, software engineer, design"/>
    <title>Marc Akbar</title>
    <!--Import Google Icon Font-->
    <link href="//fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!-- Google Fonts -->
    <link href="//fonts.googleapis.com/css2?family=Baloo+Tammudu+2:wght@600&family=Satisfy&display=swap" rel="stylesheet">
    <!-- Materialize CSS -->
    <link href="//cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css" rel="stylesheet" >
    <!-- Greensock Animation -->
    <script src="//cdnjs.cloudflare.com/ajax/libs/gsap/3.2.4/gsap.min.js"></script>
    <link href="<%= url('/stylesheets/application.css') %>" rel="stylesheet" />
  </head>
  <body class="day">
    <%= erb :preloader %>
    <%= yield %>
    <script src="//code.jquery.com/jquery-3.4.1.min.js"></script>
    <script src="/javascripts/materialize.min.js"></script>
    <script src="/javascripts/application.js"></script>
  </body>
</html>
