<div class="social day">
  <ul>
    <li><a href="https://github.com/marc-akbar" target="_blank"><img src="images/logos/GitHub-logo.png"></a></li>
    <li><a href="https://www.linkedin.com/in/marc-akbar/" target="_blank"><img src="images/logos/LinkedIn-logo.png"></a></li>
    <li><a href="https://twitter.com/snack_bar13" target="_blank"><img src="images/logos/Twitter-logo.png"></a></li>
  </ul>
</div>
