<%= erb :navigation %>

<div class="scene">
  <div class="container">
    <div class="center-horiz">
      <h1 class="title">Work</h1>
    </div>
    <img class="mountain-image" src="images/mountain_range.png">
  </div>
</div>

<div class="p p-1"></div>
<div class="p p-2"></div>
<div class="p p-3"></div>

<div class="full-width center-horiz bottom">
  <%= erb :footer %>
</div>
