nav {
  position: absolute;
  z-index: 1;

  & .time-toggle {
    position: fixed;
    top: 43px;
    left: 45px;
  }

  & .nav-wrapper > ul > li {
    margin-top: 15px;
    margin-bottom: 15px;

    & a {
      font-family: 'Baloo Tammudu 2', cursive, sans-serif;
      font-weight: 600;
      font-size: 20px;
      padding-left: 40px;
      padding-right: 40px;
      & i { font-size: 50px; }
    }

    & a:hover {
      background-color: inherit !important;
      color: $custom-teal !important;
    }
  }

  &.night {
    background-color: $night-scene-background;
    & .nav-wrapper > a { color: $light-gold; }
    & ul > li > a { color: $light-gold; }
  }

  &.day {
    background-color: $day-scene-background;
    & a { color: $night-scene-background; }
    & .nav-wrapper > a { color: $night-scene-background; }
    & ul > li > a { color: $night-scene-background; }
  }
}

.sidenav {
  padding-top: 20px;

  li {
    padding-top: 15px;

    & a {
      font-family: 'Baloo Tammudu 2', cursive, sans-serif;
      font-weight: 600;
      font-size: 16px;
    }
  }

  &.night {
    background-color: $night-scene-background;
    & li > a { color: $light-gold; }
  }
  &.day {
    background-color: $day-scene-background;
  }
}
