// body {
//   background-image: url('../images/mountain_range.png');
//   background-position: center;
//   background-repeat: no-repeat;
//   background-attachment: fixed;
// }

.gold { color: #AB9120; }
.shaded-gold { color: #99821d; }
.dark-gold { color: #5E4F0D; }
.teal { color: #18ABA2; }
.shaded-teal { color: #124d49; }
.dark-teal { color: #175E5A; }
.fushia { color: #5E2055; }

body {
  background-color: #f5f5f0;
}

nav {
  background-color: #2b2b2b;
  height: 90px;

  & .nav-wrapper {
    & a {
      color: #ffff;
    }

    & ul > li {
      margin-left: 10px;
      margin-right: 10px;
      margin-top: 15px;
      margin-bottom: 15px;

      & a {
        color: #ffff;
        font-family: 'Baloo Tammudu 2', cursive, sans-serif;
        font-weight: 600;
        font-size: 20px;
        margin-top: 0;
        margin-bottom: 0;
        padding-left: 40px;
        padding-right: 40px;

        & i {
          font-size: 50px;
        }
      }

      & a:hover {
        background-color: inherit;
        color: #18ABA2;
      }
    }
  }
}

.sidenav {
  padding-top: 20px;
  background-color: #2b2b2b;

  li {
    padding-top: 15px;

    & a {
      color: #ffff;
      font-family: 'Baloo Tammudu 2', cursive, sans-serif;
      font-weight: 600;
      font-size: 16px;
    }

    & a:hover {
      color: #18ABA2;
    }
  }
}


.full-width {
  width: 100vw;
  position: relative;
  left: 50%;
  right: 50%;
  margin-left: -50vw;
  margin-right: -50vw;
  max-width: 100%;
}

.center-horiz {
  text-align: center;
}

.center-vert-home {
  position: absolute;
  top: 40%;
  left: 0;
  right: 0;
  margin: auto;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

.absolute-bottom {
  position: absolute;
  bottom: 40px;
}

h3 svg {
  width: 500px;
}

.scramble {
  font: inherit;
}

.dud {
  color: #757575;
}

.title {
  position: relative;
  margin-top: 0;
  padding-top: 2.8rem;
  font-family: 'Satisfy', cursive, sans-serif;
  font-size: 9em;
  color: #AB9120;
  margin-bottom: 60px;
  z-index: 1;
}

.scene {
  background-color: #2b2b2b;
  line-height: 0;
}

div[class*="white-star-image"] {
  content: url("../images/white_star.png");
  position: absolute;
  height: 4px;
  z-index: 0;
}

div[class*="gold-star-image"] {
  content: url("../images/gold_star.png");
  position: absolute;
  height: 12px;
  z-index: 0;
}

div[class*="teal-star-image"] {
  content: url("../images/teal_star.png");
  position: absolute;
  height: 20px;
  z-index: 0;
}

.mountain-image {
  position: relative;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 900px;
  max-width: 100%;
  bottom: 0;
  z-index: 1;
}

.home-content {
  margin-bottom: 40px;

  & ul > li {
    display: inline-block;
  }
}

.home-links > ul > li {
  display: inline-block;
  font-family: 'Baloo Tammudu 2', cursive, sans-serif;
  font-weight: 600;
  font-size: 24px;

  margin-left: 20px;
  margin-right: 20px;
  margin-bottom: 40px;

  & a {
    display: block;
    text-align: center;
    text-decoration: none;
    color: inherit;
  }

  & a:hover {
    color: #18ABA2;
  }
}

.home-social > ul > li {
  display: inline-block;
  margin-left: 20px;
  margin-right: 20px;

  & a {
    display: block;
    text-align: center;
    text-decoration: none;

    & img {
      height: 32px;
    }
  }
}


@keyframes particleAnimation
{
  from {
    left: -100px;
  }
  to {
    left: calc( 100% + 100px );
  }
}

.p {
  position: fixed;
  left: 0px;
  top: 10vw;
  width:1px;
  height:1px;
  background-color:white;
  position:fixed;
  animation-name: particleAnimation;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}

.p::before {
  position: absolute;
  display: block;
  content:"";
  width:150px;
  right:1px;
  top:0px;
  height:1px;
  background: linear-gradient(to right, rgba(0,0,0,0) 0%,rgba(255,255,255,0.4) 100%);
}

.p-1 {
  animation-duration:10s;
}

.p-2 {
  animation-duration:6s;
  top:40%;
}

.p-3 {
  animation-duration:15s;
  top:60%;
}
