$dark-background:         #303C3C;
$light-background:        #f5f5f0;
$night-scene-background:  #293333;
$day-scene-background:    #c9e9f2;

$light-gold:              #f5f5f0;
$gold:                    #AB9120;
$shaded-gold:             #91812C;
$dark-gold:               #5E4F0D;
$custom-teal:             #18ABA2;
$shaded-teal:             #175E5A;
$dark-teal:               #124d49;

$dark-btn-color:  #DDBCEA;
$light-btn-color:  #F2C94C;

@import '../support/media';
@import '../support/loading';
@import '../support/navigation';
@import '../support/switch';
@import '../support/scene';
@import '../support/work';
@import '../support/about';
@import '../support/footer';

body {
  & * { transition: color 0.5s ease, background-color 0.5s ease; }

  & .site-wrapper {
    position: relative;
    overflow-x: hidden;
    overflow-y: hidden;
  }

  &.night { background-color: $dark-background; }
  &.day { background-color: $light-background; }
}

p {
  letter-spacing: 0.02rem;
  font-size: 12px;
}

.container {
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

.greeting-heading {
  position: relative;
  margin-bottom: 7vw;
  z-index: 2;
}

.greeting-title {
  position: relative;
  margin-bottom: 4vw;
  z-index: 2;
  & svg { max-width: 90%; }
}

.greeting-text > p {
  position: relative;
  font-family: 'Baloo Tammudu 2', cursive, sans-serif;
  font-size: 2.5rem;
  z-index: 2;

  &.night { color: $light-gold; }
  &.day { color: $night-scene-background; }
}

.title {
  position: relative;
  margin: 0;
  padding-top: 2.8rem;
  padding-bottom: 5vw;
  font-family: 'Satisfy', cursive, sans-serif;
  font-size: 10rem;
  color: $gold;
  z-index: 2;
}

.mountain-image {
  position: relative;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 900px;
  max-width: 100%;
  bottom: 0;
  z-index: 2;
}

.white-star-image {
  content: url("../images/scenes/white-star.png");
  position: absolute;
  height: 4px;
  z-index: 1;
}

.gold-star-image {
  content: url("../images/scenes/gold-star.png");
  position: absolute;
  height: 8px;
  z-index: 1;
}

.teal-star-image {
  content: url("../images/scenes/teal-star.png");
  position: absolute;
  height: 15px;
  z-index: 1;
}

@keyframes particleAnimation {
  from {
    left: -2000px;
  } to {
    left: calc( 100% + 500px );
  }
}

.particle {
  position: absolute;
  left: 0px;
  top: 10vw;
  width: 1px;
  height: 1px;
  background-color: white;
  animation-name: particleAnimation;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}

.particle::before {
  content:"";
  position: absolute;
  display: block;
  width: 150px;
  right: 1px;
  top: 0px;
  height: 1px;
  background: linear-gradient(to right, rgba(0,0,0,0) 0%, rgba(255,255,255,0.4) 100%);
}

.particle-1 {
  animation-duration:13s;
  top: 30%;
}

.particle-2 {
  animation-duration:23s;
  top: 65%;
}
.social {
  padding: 1rem 0 1rem 0;
  text-align: center;

  & ul > li {
    position: relative;
    display: inline-block;
    margin-left: 18px;
    margin-right: 18px;
    & a {
      display: block;
      text-align: center;
      text-decoration: none;
      & img { height: 32px; }
    }
    & a:hover > img {
      filter: hue-rotate(70deg);
      -webkit-filter: hue-rotate(70deg);
    }
  }
}

.social-scene.night  { background-color: $night-scene-background; }
.social-scene.day    { background-color: $day-scene-background; }
