// body {
//   background-image: url('../images/rightcubes.png');
//   background-position: center;
//   background-repeat: no-repeat;
//   background-attachment: fixed;
//
//   -webkit-background-size: cover;
//   -moz-background-size: cover;
//   -o-background-size: cover;
//   background-size: cover;
// }

nav {
  position: absolute;
  z-index: 999;
}

.first-parallax {
  background-color: #c2eaed;
}

.background {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  background-color: #f5f5f0;
}

.full-width {
  width: 100vw;
  position: relative;
  left: 50%;
  right: 50%;
  margin-left: -50vw;
  margin-right: -50vw;
  max-width: 100%;
}

.center-horiz {
  text-align: center;
}

.center-vert {
  position: absolute;
  top: 40%;
  left: 0;
  right: 0;
  margin: auto;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

.bottom {
  position: absolute;
  bottom: 40px;
}

.landing-title {
  font-family: 'Satisfy', cursive, sans-serif;
  font-size: 5em;
  margin-bottom: 60px;
}

.landing-content {
  margin-bottom: 40px;
}

.landing-links > ul > li {
  display: inline-block;
  font-family: 'Baloo Tammudu 2', cursive, sans-serif;
  font-size: 24px;

  & a {
  display: block;
  text-align: center;
  text-decoration: none;
  margin-left: 20px;
  margin-right: 20px;
  margin-bottom: 40px;
  }
}

.landing-social > ul > li {
  display: inline-block;

  & a {
  display: block;
  text-align: center;
  text-decoration: none;
  margin-left: 20px;
  margin-right: 20px;

    & img {
    height: 32px;
    }
    & img:last-child {
      height: 35px;
    }
  }
}
